<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Película</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House" />
        </figure>
        <h1>Editar Pelicula</h1>
        <br />
        <form action="/movies/<%= pelicula.id %>?_method=PUT" method="POST">
            <div>
                <label>Titulo:
                    <input type="text" name="title" id="title" value="<%= pelicula.title %>">
                </label>
            </div>
            <div>
                <label>Premios:
                    <input type="number" name="awards" id="awards" value="<%= pelicula.awards %>" >
                </label> 
            </div>
            <div>
                <label>Rating:
                    <input type="number" name="rating" id="rating" value="<%= pelicula.rating %>">
                </label>
            </div>
            <div>
                <label>Release date:
                    <input type="date" name="release_date" id="release_date" value="<%= pelicula.release_date %>">
                </label>
            </div>
            <div>
                <label>Duracion:
                    <input type="number" name="length" id="length" value="<%= pelicula.length %>">
                </label>
            </div>
            <button type="submit">EDITAR</button>
        </form>
    </body>
</html>