<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Película: <%= movie.title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House" />
        </figure>
        <h1><%= movie.title %></h1>
        <br />
        <p>RATING: <%= movie.rating %></p>
        <p>AWARDS: <%= movie.awards %></p>
        <p>LENGTH: <%= movie.length + ' min'%></p>
        <p>RELEASE DATE: <%= movie.release_date %></p>
        <p>GENRE: <%= movie.genre ? movie.genre.name : 'Sin género' %></p>
        <p>ACTORS</p>
        <ul>
            <% movie.actors.forEach(actor => { %>
                <li> <a href="/actors/<%= actor.id %> "><%= actor.first_name %> <%= actor.last_name %></a>  </li>
            <% }) %>
        </ul>
        <button><a href="/movies/edit/<%= movie.id %>">EDITAR</a></button>
        <form action="/movies/<%= movie.id %>?_method=DELETE" method="POST">
            <button type="submit">BORRAR</button>
        </form>
    </body>
</html>
